@use "sass:map";
@import url(https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&family=Teko:wght@300;400;500&display=swap);

$ff-grotesk: "Space Grotesk", sans-serif;
$ff-teko: "Teko", sans-serif;

$breakpoints: (
  "small": 565px,
  "medium": 875px,
  "large": 1160px,
);

$colors: (
  "grey": #1c1b1e,
  "orange": #f05a28,
  "green": #28f060,

  "dOrange": #ec1c24,
  "dGreen": #25c050,

  "alpha-grey": #1c1b1e20,
  "alpha-orange": #f05a2850,
  "alpha-orange-card": #f05a2823,
  "alpha-green": #28f06033,
  "alpha-": #ec1c232d,
  "alpha-dGreen": #25c051af,
);

$green-gradient: linear-gradient(
  0deg,
  rgba(40, 240, 96, 0) 12.92%,
  rgba(40, 240, 96, 0.05) 33.75%,
  rgba(40, 240, 96, 0.13) 48.85%,
  rgba(40, 240, 96, 0.27) 67.08%,
  rgba(40, 240, 96, 0.55) 92.6%
);

@mixin mq($key) {
  $size: map.get($breakpoints, $key);

  @media screen and (max-width: $size) {
    @content;
  }
}
