@use "sass:map";
@use "vars";

.about {
  &-text {
    padding: 44px;
    padding-top: 66px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    p {
      width: 100%;
      line-height: 1.7;
      @media screen and (max-width: 1245px) {
        text-align: center;
      }
      @media screen and (max-width: 900px) {
        font-size: 1.2rem;
      }
    }

    @media screen and (max-width: 1245px) {
      padding: 22px;
    }
    @media screen and (max-width: 900px) {
      padding: 10px;
    }
  }

  &-photo {
    width: 100%;
    border-radius: 22px;
    min-width: 300px;
    @media screen and (max-width: 1245px) {
      min-width: 0;
    }
  }
}

.photo-container {
  width: 30%;
  padding: 15px;
  background-color: #181819;
  display: flex;

  @media screen and (max-width: 1245px) {
    width: 55%;
  }
  @media screen and (max-width: 700px) {
    width: 100%;
  }

  img {
    width: 100%;
    border-radius: 22px;
  }
}
