@use "sass:map";
@use "vars";

.header {
  &-wrapper {
    padding-inline: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: white;

    h1 {
      font-size: 3.5rem;
      font-weight: 700;
    }
    h2 {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 400;
      max-width: 750px;
      margin-bottom: 1rem;
      opacity: 0.8;
    }
    h4 {
      font-weight: 400;
      color: map-get(vars.$colors, "dOrange");
      font-size: 1.2rem;
      span {
        color: map-get(vars.$colors, "green");
      }
    }
  }
}

.selector {
  font-size: 1.5rem;
  display: flex;
  width: 100%;
  padding-inline: 30px;
  align-items: center;
  margin-bottom: 2rem;
  gap: 5px;

  &-dash {
    font-weight: 400;
    color: white;
    opacity: 0.75;
  }
}

.active {
  font-weight: 700;
  opacity: 1 !important;
  color: map-get(vars.$colors, "orange");

  &:hover {
    cursor: pointer;
  }
}

.no-active {
  font-weight: 300;
  color: white;
  opacity: 0.75;

  &:hover {
    cursor: pointer;
  }
}

.content {
  padding-inline: 60px;
  h3 {
    font-size: 2rem;
    color: map-get(vars.$colors, "green");
  }

  p {
    font-size: 1.2rem;
    color: white;
    opacity: 0.8;
    margin-bottom: 1rem;
  }
}
