@use "vars";
@use "sass:map";

.sign-in-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 450px;
  width: 100%;
  min-height: 60px;
  background-color: white;
  color: black;
  border-radius: 100rem;
  border: none;
  padding: 0.5rem 0rem;
  padding-right: 5rem;
  padding-left: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;

  img {
    min-width: 2.5rem;
    height: 2.5rem;
    margin-right: 20px;
  }

  transition: all 0.2s ease-in-out;

  &:hover {
    color: map-get(vars.$colors, "orange");
    transform: scale(1.025);
    transition: all 0.2s ease-in-out;
  }

  &:active {
    transform: scale(0.975);
    transition: all 0.2s ease-in-out;
  }

  @media (max-width: 768px) {
    max-width: 400px;
  }
  @media (max-width: 750px) {
    padding-right: 3.5rem;
  }
}
