@use "vars";
@use "fonts";
@use "sass:map";

$bg-image: url("../../assets/bg-profile.png");

.profile-setup-container {
  font-family: fonts.$ff-archivo;
  min-height: 100vh;
  position: relative;
  background-image: $bg-image;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;

  .setup-container {
    width: 100%;
    max-width: 800px;
    min-height: 600px;
    padding: 20px;

    background-color: map-get(vars.$colors, "dark-gray");
    border-radius: 10px;
  }
}

.container-title {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
  color: map-get(vars.$colors, "orange");
  text-align: center;
  margin-bottom: 0.5rem;
}

.photo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  .id-photo-container {
    border-radius: 1000px;
    overflow: hidden;
    width: 150px;
    height: 150px;
    img {
      width: 100%;
      height: auto;
    }
    position: relative;

    &::after {
      cursor: pointer;
      content: "click to change";
      text-align: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5); // The tint color
      color: white; // The text color
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1000px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease; // Add this line
    }
    transition: scale 0.3s ease;
    &:hover {
      &::after {
        opacity: 1;
        visibility: visible;
      }

      scale: 1.05;
      transition: scale 0.3s ease;
    }
  }
}

.picture-picker-wrapper {
  position: absolute;
  top: 42%;
  margin-top: 1rem;
  max-width: 500px;
  padding: 0.5rem;
  background-color: map-get(vars.$colors, "gray");
  border-radius: 10px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  &.visible {
    transition: all 0.5s ease-in-out;
    opacity: 1;
    visibility: visible;
  }
}

.photo-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  gap: 1.5rem 0;

  .id-photo-container {
    border-radius: 10px;
    overflow: hidden;
    max-width: 125px;

    img {
      transition: scale 0.3s ease, opacity 0.5s ease;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
        scale: 1.1;
        transition: scale 0.3s ease, opacity 0.5s ease;
      }
    }
  }
}

.upload-photo {
  display: none; // Hide the default file input

  & + label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 100%;
    max-height: 150px;
    background-color: map-get(vars.$colors, "darker-gray"); // Adjust as needed
    border-radius: 10px; // Adjust as needed
    cursor: pointer;

    &:before {
      content: "+";
      font-size: 46px;
      font-weight: 900;
      color: map-get(vars.$colors, "green");
    }
  }
}

.flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-col {
  display: flex;
  flex-direction: column;

  @media (max-width: 750px) {
    width: 100%;
    align-items: center;
  }
}
.j-center {
  justify-content: center;
}
.width-auto {
  width: auto;
  max-width: fit-content;
}
.personal-section {
  align-items: flex-start;

  padding-top: 2rem;
  padding-left: 1rem;

  gap: 2rem;

  h2 {
    color: white;
    font-size: 3rem;
    font-weight: 300;
    border-bottom: 2px solid white;
    flex-shrink: 1;
    min-width: fit-content;
  }

  .name-input-wrapper {
    width: fit-content;
    max-width: 350px;
    height: auto;
    padding-inline: 1rem;
    border-bottom: 2px dashed white;
    display: flex;
    align-items: center;

    &:focus-within {
      outline: none;
      border-color: map-get(vars.$colors, "orange");
    }

    input {
      width: 100%;
      outline: none;
      background-color: transparent;
      border: none;

      color: white;
      font-size: 3rem;
      font-weight: 500;
      font-style: italic;

      &::placeholder {
        color: white;
        opacity: 0.5;
        font-size: 2rem;
        @media (max-width: 497px) {
          font-size: 1.8rem;
        }
      }

      @media (max-width: 544px) {
        text-align: center;
      }
    }
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  @media (max-width: 750px) {
    padding: 0;
    padding-top: 2rem;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }
}

.input-subtext {
  display: block;
  margin-top: 1rem;
  color: map-get(vars.$colors, "green");
  font-weight: 300;
  font-style: italic;
}

.secondary {
  &-input-wrapper {
    padding-top: 0.75rem;

    select,
    input {
      width: 100%;
      max-width: 230px;
      height: 50px;
      padding: 0.5rem;
      border-radius: 10px;
      border: none;
      outline: none;
      background-color: map-get(vars.$colors, "gray");
      color: white;
      font-size: 1.5rem;
      font-weight: 300;
      font-style: italic;
      cursor: pointer;
    }

    #terms {
      width: 20px;
      height: 20px;
      margin-right: 0.5rem;
      cursor: pointer;
      accent-color: map-get(vars.$colors, "orange");
    }
  }
  &-title {
    color: white;
    font-size: 1.2rem !important;
    border: none !important;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 0.5rem;

    @media (max-width: 750px) {
      width: 100%;
      text-align: center;
    }
  }
}

.g {
  &-1 {
    gap: 1.5rem;
  }
}

.spotify-connect-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
  .button-disabled {
    opacity: 0.3;
    background-color: map-get(vars.$colors, "darker-gray");
    color: white;
    cursor: auto;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }

  .button-actionable {
    opacity: 1;
    transition: all 0.4s ease-in-out;
  }
}

.connection-success {
  font-size: 3rem;
  color: map-get(vars.$colors, "orange");
  background-color: map-get(vars.$colors, "green");
  padding-inline: 1rem;
  padding-block: 0.5rem;
  text-align: center;
  &-sub {
    font-size: 1.5rem;
    color: white;
    font-weight: 300;
    font-style: italic;

    background-color: map-get(vars.$colors, "orange");
    padding-inline: 1rem;
    padding-block: 0.5rem;
    text-align: center;
  }
}

.load-spinner {
  margin-left: 1rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-top: 5px solid map-get(vars.$colors, "green");
  animation: spin 1s linear infinite;
}

.id-close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1rem;
  margin-right: 1rem;
  color: map-get(vars.$colors, "green");
  background-color: map-get(vars.$colors, "gray");
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;

  &:hover {
    color: map-get(vars.$colors, "orange");
    scale: 1.4;
    transition: all 0.2s ease-in-out;
  }
}
