@use "fonts";
@use "vars";
@use "sass:map";

$bg-image: url(../../assets/bg-soon.png);

.soon-container {
  min-height: 100vh;
  background-image: $bg-image;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  font-family: fonts.$ff-archivo;

  justify-content: center;
  align-items: center;
  gap: 1rem;

  h1 {
    font-weight: 400;
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin-top: 2rem;

    span {
      font-size: 3.5rem;
      font-weight: 900;
      color: map-get(vars.$colors, "orange");
      background-color: map-get(vars.$colors, "green");
      padding-inline: 0.5rem;
    }
  }

  h2 {
    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
  }

  h3 {
    font-weight: 300;
    font-size: 1.1rem;
    color: #fff;
    text-align: center;

    font-style: italic;
  }
}

.signOut-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
    background-color: #fff;
    color: black;
    padding: 0.25rem;
  }
}

.profile-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
    background-color: #fff;
    color: black;
    padding: 0.25rem;
  }
}
